# Subnet info, used by DNSMasq. PRIVATE_IP is used by most components to ensure the composition is only exposed privately.
PRIVATE_CIDR="10.1.0.1/25"
PRIVATE_IP="10.1.0.1"
PRIVATE_SUBNET_START="10.1.0.2"
PRIVATE_SUBNET_END="10.1.0.126"
PRIVATE_SUBNET_NETMASK="255.255.255.128"
ADMIN_CIDR="10.2.0.1/25"
ADMIN_IP="10.2.0.1"
ADMIN_SUBNET_START="10.2.0.2"
ADMIN_SUBNET_END="10.2.0.126"
ADMIN_SUBNET_NETMASK="255.255.255.128"

# The interface DNSMasq will bind to.
PRIVATE_INTERFACE="br-tree"
ADMIN_INTERFACE="br-admin"
WAN_INTERFACE="wlp6s0"

# The DNS server that DNSMasq will use.
DNS_RESOLVER="1.1.1.1"

STATIC_LEASES="# Static leases
dhcp-host=48:ba:4e:23:ab:34,10.2.0.2
"

CCS_HOST="https://judge.gehack.nl"

PRIVATE_DOMAIN="progcont"
ADMIN_DOMAIN="admin"
LANGUAGES="openjdk@17 c cpp python@3.10 kotlin"
FOG_IP=10.2.0.2
