network:
  version: 2
  renderer: networkd
  ethernets:
    {{ public_interface }}:
      dhcp4: yes
{% for interface in private_interfaces %}
    {{ interface }}:
      dhcp4: no
{% endfor %}
  bridges:
    {{ lookup('ansible.builtin.env', 'PRIVATE_INTERFACE', default='br-geproxy') }}:
      interfaces: [{{ private_interfaces | join(',') }}]
      dhcp4: false
      addresses: [lookup('ansible.builtin.env', 'PRIVATE_IP', default='10.1.0.1')/16]
      nameservers:
        addresses: [lookup('ansible.builtin.env', 'DNS_RESOLVER', default='1.1.1.1')]
