network:
  version: 2
  renderer: networkd
  ethernets:
    {{ public_interface }}:
      dhcp4: yes
{% for interface in private_interfaces %}
    {{ interface }}:
      dhcp4: no
{% endfor %}
  bridges:
    {{ private_interface }}:
      interfaces: [{{ private_interfaces | join(',') }}]
      dhcp4: false
      addresses: [{{ private_cidr }}]
      nameservers:
        addresses: [{{ dns_resolver }}]
