
server {
    include listen;

    server_name judge judge.${DOMAIN};
    add_header Access-Control-Allow-Origin *;

    client_max_body_size 128m;

    location / {
        proxy_pass https://$CCS_HOSTNAME/;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_ssl_verify      off;
        proxy_ssl_server_name on;
    }
}
