server {

    include listen;

    server_name pixie pixie.${DOMAIN};
    add_header Access-Control-Allow-Origin *;

    location / {
        proxy_redirect off;
        proxy_set_header Host $host;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_pass http://pixie:4000/;
    }
}
